# Ignore everything
*

# Except README.md
!README.md

# And code files
!.git/
!.gitignore
!*.py
!*.js
!*.ts
!*.sh
!*.cpp
!*.h
!*.c
!*.cu
!*.cl
!*.java
!*.go
!*.rs
!*.swift
!*.rb
!*.pl
!*.pm
!*.php
!*.sql
!*.html
!*.css
!*.json
!*.yaml
!*.yml
!*.toml
!*.cfg
!*.conf
!*.ini
!*.txt
!*.md
!*.rst
!*.adoc
!*.markdown
!*.license
!*.copying
!*.notice
!*.copyright
!*.patent
!*.trademark
!*.logo
!*.icon
!*.svg
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.bmp
!*.ico
!*.webp
!*.tif
!*.tiff
!*.eps
!*.pdf
!*.doc
!*.docx
!*.xls
!*.xlsx
!*.ppt
!*.pptx
!*.odt
!*.ods
!*.odp
!*.rtf
!*.tex
!*.bib
!*.cls
!*.sty
!*.bst
!*.bbl
!*.blg
!*.aux
!*.log
!*.out
!*.fls
!*.fdb_latexmk
!*.synctex.gz
!*.nav
!*.toc
!*.idx
!*.ind
!*.ilg
!*.lof
!*.lot
!*.acn
!*.acr
!*.alg
!*.glg
!*.glo
!*.gls
!*.ist
!*.maf
!*.mst
!*.mtc
!*.mtc0
!*.maf
!*.msc
!*.msc0
!*.bbl
!*.blg
!*.dvi
!*.ps
!*.eps
!*.eps.gz
!*.pdf
!*.aux
!*.log
!*.out
!*.fls
!*.fdb_latexmk
!*.synctex.gz
!*.nav
!*.toc
!*.idx
!*.ind
!*.ilg
!*.lof
!*.lot
!*.acn
!*.acr
!*.alg
!*.glg
!*.glo
!*.gls
!*.ist
!*.maf
!*.mst
!*.mtc
!*.mtc0
!*.msc
!*.msc0
!*.tmp
!*.temp
!*.swp
!*.bak
!*.old
!*.orig
!*.rej
!*.patch
!*.diff
!*.DS_Store
!*.Thumbs.db
!*.localized
!*.git
!*.gitignore
!*.gitattributes
!*.gitmodules
!*.gitkeep